body {
  background-color: #e5e5ea;
  font-family: "Roboto", sans-serif;
  color: white;
  max-width: 1200px;
  margin: 0px;
  padding: 8px;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 5px;
  text-align: justify;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: 100;
}

.rekl-narrow {
  width: 100%;
  max-width: 570px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.rekl-square {
  max-width: 100%;
  height: auto;
}

.Hero-button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #dc0000;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.Hero-button:hover {
  background-color: red;
}

.Hero-button:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 5px;
  margin-bottom: 5px;
      grid-template-areas: "bran bran" "navi tool";
}

.h-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #636366;
}

.h-child.brand-1-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bran;
}

.h-child.global-nav-1-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navi;
}

.h-child.tools-1-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tool;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 5px;
      grid-template-areas: "h h" "af af" "rma rma" "al al" "fo fo";
}

.m-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #636366;
}

.hero-container {
  background-image: url(../Images/DSC04205.JPG);
  background-size: cover;
  min-height: 200px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
}

.m-child.hero-feature-2-1 {
  grid-area: hf;
  display: none;
}

.m-child.hero-action-2-2 {
  grid-area: ha;
}

.m-child.rekl-3-m {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: rma;
}

.m-child.rekl-3-l {
  grid-area: rli;
  display: none;
}

.m-child.article-feature-4-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: af;
}

.m-child.article-listing-4-2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: al;
}

.m-child.sidebar-feature-5-1h {
  grid-area: sfh;
  display: none;
}

.m-child.sidebar-feature-5-1v {
  grid-area: sfv;
  display: none;
}

.m-child.footer-6 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fo;
}

@media screen and (min-width: 576px) {
  .header-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 7fr 3fr;
        grid-template-columns: 2fr 7fr 3fr;
    -ms-grid-rows: 50px;
        grid-template-rows: 50px;
    -webkit-column-gap: 8px;
            column-gap: 8px;
    row-gap: 5px;
    margin-bottom: 5px;
        grid-template-areas: "bran navi tool";
  }
  .h-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #636366;
  }
  .h-child.brand-1-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bran;
  }
  .h-child.global-nav-1-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: navi;
  }
  .h-child.tools-1-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: tool;
  }
  .main-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    -webkit-column-gap: 8px;
            column-gap: 8px;
    row-gap: 5px;
        grid-template-areas: "h h h h h h h h h h h h" "af af af af af af af af af rli rli rli" "al al al al al al al al al al al al" "sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh" "fo fo fo fo fo fo fo fo fo fo fo fo";
  }
  .m-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #636366;
  }
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: h;
    min-height: 300px;
  }
  .m-child.hero-feature-2-1 {
    grid-area: hf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-child.hero-action-2-2 {
    grid-area: ha;
  }
  .m-child.rekl-3-m {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: rma;
    display: none;
  }
  .m-child.rekl-3-l {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-area: rli;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-child.article-feature-4-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-area: af;
  }
  .m-child.article-listing-4-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: al;
  }
  .m-child.sidebar-feature-5-1h {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: sfh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-child.sidebar-feature-5-1v {
    grid-area: sfv;
    display: none;
  }
  .m-child.footer-6 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: fo;
  }
}

@media screen and (min-width: 992px) {
  .header-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 7fr 3fr;
        grid-template-columns: 2fr 7fr 3fr;
    -ms-grid-rows: 50px;
        grid-template-rows: 50px;
    -webkit-column-gap: 8px;
            column-gap: 8px;
    row-gap: 5px;
    margin-bottom: 5px;
        grid-template-areas: "bran navi tool";
  }
  .h-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #636366;
  }
  .h-child.brand-1-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bran;
  }
  .h-child.global-nav-1-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: navi;
  }
  .h-child.tools-1-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: tool;
  }
  .main-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -webkit-column-gap: 8px;
            column-gap: 8px;
    row-gap: 5px;
        grid-template-areas: "h h h h h h h h h rli rli rli" "af af af al al al al al al sfv sfv sfv" "fo fo fo fo fo fo fo fo fo fo fo fo";
  }
  .m-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #636366;
  }
  .m-child.hero-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-area: h;
  }
  .m-child.hero-feature-2-1 {
    grid-area: hf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-child.hero-action-2-2 {
    grid-area: ha;
  }
  .m-child.rekl-3-m {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: rma;
    display: none;
  }
  .m-child.rekl-3-l {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-area: rli;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-child.article-feature-4-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: af;
  }
  .m-child.article-listing-4-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: al;
  }
  .m-child.sidebar-feature-5-1h {
    grid-area: sfh;
    display: none;
  }
  .m-child.sidebar-feature-5-1v {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-area: sfv;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-child.footer-6 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: fo;
  }
}
/*# sourceMappingURL=main.css.map */