@import 'colors.scss';
@import 'fonts.scss';

// @mixin border-radius($radius) {
//     -webkit-border-radius: $radius;
//     -moz-border-radius: $radius;
//   -ms-border-radius: $radius;
//   border-radius: $radius;
body {
    background-color: $background-primary-color;
    font-family: $primary-font;
    color: white;
    margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 5px;
  margin-inline-end: 0px;
  }
  p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    text-align: justify;
}
h2 {
  display: flex;
  font-size: 1.2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  font-weight: bold;
}
.rekl-narrow {
  width: 100%;
  max-width: 570px;
  height: auto;
  object-fit: contain;
}
.rekl-square {
  max-width: 100%;
  height: auto;
}

//Mobile grid for Header
.header-container {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: 50px 50px;
    column-gap: 8px;
    row-gap: 5px;
    margin-bottom: 5px;
    grid-template-areas:
    "bran bran"
    "navi tool"
  }
  .h-child {
    display: flex;
    background-color: rgb(99, 99, 102);
  }
  .h-child.brand-1-1 {
    grid-area: bran
  }
  .h-child.global-nav-1-2 {
    grid-area: navi
  }
  .h-child.tools-1-3 {
    grid-area: tool
  }
  //Mobile grid for Main
  .main-container {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(9,auto);
    column-gap: 8px;
    row-gap: 5px;
    grid-template-areas:
    "ha ha"
    "af af"
    "af af"
    "rma rma"
    "rma rma"
    "al al"
    "al al"
    "al al"
    "fo fo"
  }
  .m-child {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    background-color: rgb(99, 99, 102);
  }
  .m-child.sidebar-feature-5-1h .m-child.sidebar-feature-5-1v {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .m-child.hero-feature-2-1 {
    grid-area: hf;
    display: none;
  }
  .m-child.hero-action-2-2 {
    grid-area: ha;
  }
  .m-child.rekl-3-m {
    grid-area: rma;
  }
  .m-child.rekl-3-l {
    grid-area: rli;
    display: none;
  }
  .m-child.article-feature-4-1 {
    grid-area: af;
  }
  .m-child.article-listing-4-2 {
    grid-area: al;
  }
  .m-child.sidebar-feature-5-1h {
    grid-area: sfh;
    display: none;
  }
  .m-child.sidebar-feature-5-1v {
    grid-area: sfv;
    display: none;
  }
  .m-child.footer-6 {
    grid-area: fo;
  }
  //Tablet grid for Header
  @media screen and (min-width: 576px) {
    .header-container {
        display: grid;
        grid-template-columns: 2fr 7fr 3fr;
        grid-template-rows: 50px;
        column-gap: 8px;
        row-gap: 5px;
        margin-bottom: 5px;
        grid-template-areas:
        "bran navi tool"
      }
      .h-child {
        display: flex;
        background-color: rgb(99, 99, 102);
      }
      .h-child.brand-1-1 {
        grid-area: bran
      }
      .h-child.global-nav-1-2 {
        grid-area: navi
      }
      .h-child.tools-1-3 {
        grid-area: tool
      }
           //Tablet grid for Main
    .main-container {
        display: grid;
        grid-template-columns:repeat(12,1fr);
        grid-template-rows: repeat(6, auto);
        column-gap: 8px;
        row-gap: 5px;
        grid-template-areas:
        "hf hf hf hf hf hf hf hf hf hf hf hf"
        "ha ha ha ha ha ha ha ha ha ha ha ha"
        "af af af af af af af af af rli rli rli"
        "al al al al al al al al al al al al"
        "sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh"
        "fo fo fo fo fo fo fo fo fo fo fo fo"
      }
      .m-child {
        display: flex;
        background-color: rgb(99, 99, 102);
      }
      .m-child.hero-feature-2-1 {
        grid-area: hf;
        display: flex;
      }
      .m-child.hero-action-2-2 {
        grid-area: ha;
      }
      .m-child.rekl-3-m {
        grid-area: rma;
        display: none;
      }
      .m-child.rekl-3-l {
        grid-area: rli;
        display: flex;
      }
      .m-child.article-feature-4-1 {
        grid-area: af;  
      }
      .m-child.article-listing-4-2 {
        grid-area: al;
      }
      .m-child.sidebar-feature-5-1h {
        grid-area: sfh;
        display: flex;
      }
      .m-child.sidebar-feature-5-1v {
        grid-area: sfv;
        display: none;
      }
      .m-child.footer-6 {
        grid-area: fo;
      }
    }
//Desktop grid for Header
@media screen and (min-width: 992px) {
  body {
    max-width: 1200px;
    margin: auto;
    padding: 8px;
  }
  .header-container {
      display: grid;
      grid-template-columns: 2fr 7fr 3fr;
      grid-template-rows: 50px;
      column-gap: 8px;
      row-gap: 5px;
      margin-bottom: 5px;
      grid-template-areas:
      "bran navi tool"
    }
    .h-child {
      display: flex;
      background-color: rgb(99, 99, 102);
    }
    .h-child.brand-1-1 {
      grid-area: bran
    }
    .h-child.global-nav-1-2 {
      grid-area: navi
    }
    .h-child.tools-1-3 {
      grid-area: tool
    }
         //Desktop grid for Main
  .main-container {
      display: grid;
      grid-template-columns:repeat(12,1fr);
      grid-template-rows: auto auto auto;
      column-gap: 8px;
      row-gap: 5px;
      grid-template-areas:
      "hf hf hf hf hf hf ha ha ha rli rli rli"
      "af af af al al al al al al sfv sfv sfv"
      "fo fo fo fo fo fo fo fo fo fo fo fo"
    }
    .m-child {
      display: flex;
      background-color: rgb(99, 99, 102);
    }
    .m-child.hero-feature-2-1 {
      grid-area: hf;
      display: flex;
    }
    .m-child.hero-action-2-2 {
      grid-area: ha;
    }
    .m-child.rekl-3-m {
      grid-area: rma;
      display: none;
    }
    .m-child.rekl-3-l {
      grid-area: rli;
      display: flex;
    }
    .m-child.article-feature-4-1 {
      grid-area: af;  
    }
    .m-child.article-listing-4-2 {
      grid-area: al;
    }
    .m-child.sidebar-feature-5-1h {
      grid-area: sfh;
      display: none;
    }
    .m-child.sidebar-feature-5-1v {
      grid-area: sfv;
      display: flex;
    }
    .m-child.footer-6 {
      grid-area: fo;
    }
  }
