@import 'colors.scss';
@import 'fonts.scss';

body {
    background-color: $background-primary-color;
    font-family: $primary-font;
    color: white;
    max-width: 1200px;
    margin: 0px;
    padding: 8px;
  }
  p {
    display: flex;
    font-size: 0.8rem;
    font-weight: 200;
    margin: 0px;
    padding: 5px;
    text-align: justify;
}

h2 {
  display: flex;
  margin: 0px;
  padding: 5px;
  font-size: 1.0rem;
  font-weight: 400;
}
.Hero-headding{
  font-family: 'Spy Agency Semi-Italic', sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000;
  color: rgb(255, 230, 0);
  font-weight: 800;
}
.Hero-textbox{
  box-sizing: border-box;
  color: rgb(255, 230, 0);
  text-shadow: 1px 1px 1px #000;
}
.button-box {
  box-sizing: border-box;
  padding: 30px 0px;
}
.hero-child.hero-feature-2-1 {
  color: hsl(0, 0%, 20%);
}
.hero-child.hero-action-2-2 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Hero-button {
  width: 150px;
  border: 0;
  line-height: .5;
  padding: 10px 10px;
  font-size: 1.0rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: hsl(220, 80%, 50%);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.Hero-button:hover {
  background-color: hsl(220, 80%, 55%);
}

.Hero-button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.rekl-narrow {
  width: 100%;
  max-width: 570px;
  height: auto;
  object-fit: contain;
}
.rekl-square {
  max-width: 100%;
  height: auto;
}
//Mobile grid for Header
.header-container {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: 50px 50px;
    column-gap: 8px;
    row-gap: 5px;
    margin-bottom: 5px;
    grid-template-areas:
    "bran bran"
    "navi tool"
  }
  .h-child {
    display: flex;
    background-color: rgb(99, 99, 102);
  }
  .h-child.brand-1-1 {
    grid-area: bran
  }
  .h-child.global-nav-1-2 {
    grid-area: navi
  }
  .h-child.tools-1-3 {
    grid-area: tool
  }
  //Mobile grid for Main
  .main-container {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(5,auto);
    column-gap: 8px;
    row-gap: 5px;
    grid-template-areas:
    "h h"
    "af af"
    "rma rma"
    "al al"
    "fo fo"
  }
  .m-child {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    background-color: rgb(99, 99, 102);
  }
  .hero-container {
    background-image: url(../Images/DSC04205.JPG);
    background-size: cover;
    min-height: 200px;
    grid-area: h
  }
  .hero-grid {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(2,100px);
    column-gap: 8px;
    row-gap: 5px;
    grid-template-areas:
    "ha ha"
    "ha ha"
  }
  .hero-child.hero-feature-2-1 {
    grid-area: hf;
    display: none;
  }
  .hero-child.hero-action-2-2 {
    grid-area: ha;
  }
  .m-child.rekl-3-m {
    grid-area: rma;
  }
  .m-child.rekl-3-l {
    grid-area: rli;
    display: none;
  }
  .m-child.article-feature-4-1 {
    grid-area: af;
  }
  .m-child.article-listing-4-2 {
    grid-area: al;
  }
  .m-child.sidebar-feature-5-1h {
    grid-area: sfh;
    display: none;
  }
  .m-child.sidebar-feature-5-1v {
    grid-area: sfv;
    display: none;
  }
  .m-child.footer-6 {
    grid-area: fo;
  }
  //Tablet grid for Header
  @media screen and (min-width: 576px) {
    .header-container {
        display: grid;
        grid-template-columns: 2fr 7fr 3fr;
        grid-template-rows: 50px;
        column-gap: 8px;
        row-gap: 5px;
        margin-bottom: 5px;
        grid-template-areas:
        "bran navi tool"
      }
      .h-child {
        display: flex;
        background-color: rgb(99, 99, 102);
      }
      .h-child.brand-1-1 {
        grid-area: bran
      }
      .h-child.global-nav-1-2 {
        grid-area: navi
      }
      .h-child.tools-1-3 {
        grid-area: tool
      }
           //Tablet grid for Main
    .main-container {
        display: grid;
        grid-template-columns:repeat(12,1fr);
        grid-template-rows: repeat(5, auto);
        column-gap: 8px;
        row-gap: 5px;
        grid-template-areas:
        "h h h h h h h h h h h h"
        "af af af af af af af af af rli rli rli"
        "al al al al al al al al al al al al"
        "sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh sfh"
        "fo fo fo fo fo fo fo fo fo fo fo fo"
    }
      .hero-container {
        min-height: 300px;
      }
      .hero-grid {
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(2,150px);
        grid-template-areas:
        "hf hf"
        "ha ha"
      }
      .hero-child.hero-feature-2-1 {
        display: flex;
        font-size: 0.8rem;
      }
      .hero-child.hero-action-2-2 {
        display: flex;
      }
      .m-child.rekl-3-m {
        display: none;
      }
      .m-child.rekl-3-l {
        display: flex;
      }
      .m-child.sidebar-feature-5-1h {
        display: flex;
      }
    }
//Desktop grid for Header
@media screen and (min-width: 992px) {
  
  .header-container {
      display: grid;
      grid-template-columns: 2fr 7fr 3fr;
      grid-template-rows: 50px;
      column-gap: 8px;
      row-gap: 5px;
      margin-bottom: 5px;
      grid-template-areas:
      "bran navi tool"
    }
    .h-child {
      display: flex;
      background-color: rgb(99, 99, 102);
    }
    .h-child.brand-1-1 {
      grid-area: bran
    }
    .h-child.global-nav-1-2 {
      grid-area: navi
    }
    .h-child.tools-1-3 {
      grid-area: tool
    }
         //Desktop grid for Main
  .main-container {
      display: grid;
      grid-template-columns:repeat(12,1fr);
      grid-template-rows: auto auto auto;
      column-gap: 8px;
      row-gap: 5px;
      grid-template-areas:
      "h h h h h h h h h rli rli rli"
      "al al al af af af af af af sfv sfv sfv"
      "fo fo fo fo fo fo fo fo fo fo fo fo"
    }
    .hero-grid {
      display: grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows: 300px;
      grid-template-areas:
      "hf hf ha"
      "hf hf ha"
    }
    .hero-child.hero-action-2-2 {
      flex-direction: column;
      justify-content: space-evenly;
    }
    .m-child.sidebar-feature-5-1h {
      display: none;
    }
    .m-child.sidebar-feature-5-1v {
      display: flex;
    }
  }
